<div class="grid-x grid-padding-x align-center">
    <div class="meme-container">
        <div class="meme-img-container">
            <a href="/memes/<!-- meme.meme_id -->">
                <img src="assets/images/<!-- meme.template_id -->.jpg">
            </a>
            <div class="meme-top text-center">
                <!-- meme.top_text -->
            </div>
            <div class="meme-bottom text-center">
                <!-- meme.bottom_text -->
            </div>
        </div>
    </div>
</div>